body{
    margin: 0;
}

.homepage{
    background-color:yellow;
    min-height:90vh
}

.shoppingpage{
    background-color:lightblue;
    min-height:90vh
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
    min-height: 5rem;
    background-color: red;
    cursor: pointer
}